<div class="main-layout" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
  <div fxFlex=60 fxFlex.md=100>
    <mat-card class="table-card">
      <mat-card-content>
          <div fxLayout="row">
            <div fxFlex>
              <h2 class="mat-h2 card-main-title">Pendaftaran Matakuliah</h2>
              <div>Rekapitulasi Matakuliah yang Didaftarkan</div>
            </div>
            <div style="margin-right: -15px;">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>refresh</mat-icon>
                  <span>Muat Ulang</span>
                </button>
              </mat-menu>
            </div>
            
          </div>
          <div class="table-container">
            <table mat-table
              [dataSource]="dataSource" multiTemplateDataRows>
              <ng-container matColumnDef="matakuliah">
                <th mat-header-cell *matHeaderCellDef> Matakuliah </th>
                <td mat-cell *matCellDef="let mk;"> {{mk.matakuliah | capitalize}} </td>
              </ng-container>
              <ng-container matColumnDef="pesan">
                <th mat-header-cell *matHeaderCellDef> Status Pendaftaran </th>
                <td mat-cell *matCellDef="let mk;"> 
                  <mat-chip-list *ngIf="mk.status_pesan==1">
                    <mat-chip [matTooltip]="mk.pesan" matTooltipPosition="above"> <mat-icon>check</mat-icon> Lolos</mat-chip> 
                  </mat-chip-list>
                  <mat-chip-list *ngIf="mk.status_pesan==2">
                    <mat-chip [matTooltip]="mk.pesan" matTooltipPosition="above"> <mat-icon>clear</mat-icon> Tidak lolos </mat-chip> 
                  </mat-chip-list>
                  <mat-chip-list *ngIf="mk.status_pesan==3">
                    <mat-chip [matTooltip]="mk.pesan" matTooltipPosition="above"> <mat-icon>query_builder</mat-icon> Menuggu Hasil </mat-chip> 
                  </mat-chip-list>
                </td>
              </ng-container>
              <ng-container matColumnDef="aksi">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let mk;">
                  <a mat-icon-button *ngIf="mk != expandedElement " matTooltip="Lihat Detail Informasi" matTooltipPosition="above">
                    <mat-icon style="color:#686363;" aria-label="Buka detail matakuliah">arrow_drop_down</mat-icon>
                  </a>
                  <a mat-icon-button *ngIf="mk == expandedElement " matTooltip="Tutup Detail Informasi" matTooltipPosition="above">
                    <mat-icon style="color:#686363;" aria-label="Tutup detail kuliah">arrow_drop_up</mat-icon>
                  </a>
                </td>
              </ng-container>
              <!-- 
              <ng-container matColumnDef="{{column}}" *ngFor="let column of tableColumn">
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
              </ng-container>-->
                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
              <ng-container matColumnDef="expandedDetail">
                <td style="padding:0 8px;" mat-cell *matCellDef="let mk" [attr.colspan]="tableColumn.length">
                  <div class="example-element-detail"
                        [@detailExpand]="mk == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="example-element-description">
                      <div fxLayout="row">
                        <div fxLayout="column" fxFlex="initial">
                            <span style="margin-bottom:5px;"> {{mk.prodi}} {{mk.angkatan}}</span>
                            <span style="margin-bottom:5px;">{{mk.dosen.gelar_depan }} {{mk.dosen.nama | capitalize}}, {{mk.dosen.gelar_belakang}}</span>
                        </div>
                        <div fxFlex></div>
                        <div fxFlex="initial">
                          <div style="box-sizing: border-box;display: inline-flex; cursor: default;" matTooltip="Jumlah pendaftar matakuliah ini" matTooltipPosition="above">
                              <mat-icon style="color:#686363;" aria-label="Jumlah Peminat">supervisor_account</mat-icon> 
                              <span style="margin: 5px 10px 0 5px;">{{mk.peminat}} Pendaftar</span>  
                          </div>
                        </div>
                      </div>
                      <div fxLayout="row">
                        <div fxLayout="column" class="list-kelas" fxFlex="initial">
                          <div *ngFor="let jadwal of mk.jadwal" style="box-sizing: border-box;display: inline-flex; cursor: default;" [matTooltip]="jadwal.kesediaan ? 'Jadwal sesuai' : 'Jadwal tidak sesuai dengan Jadwal Studi'" matTooltipPosition="above">
                              <mat-icon [ngStyle]="{'color' : jadwal.kesediaan ? '#686363' : 'slategray'}" aria-label="Logo Jadwal">event</mat-icon> 
                              <span [ngStyle]="{'color' : jadwal.kesediaan ? 'auto' : 'slategray'}" style="margin: 5px 10px 0 5px;">Kelas {{jadwal.kelas}} {{jadwal.jam}} {{jadwal.hari}} {{jadwal.ruangan}}</span>  
                          </div>
                          <!--
                          <div style="box-sizing: border-box;display: inline-flex; cursor: default;" matTooltip="Jumlah pendaftar matakuliah ini" matTooltipPosition="above">
                              <mat-icon style="color:#686363;" aria-label="Jumlah Peminat">event</mat-icon> 
                              <span style="margin: 5px 10px 0 5px;">Kelas B Selasa 8-4 G4.201</span>  
                          </div>
                          <div style="box-sizing: border-box;display: inline-flex; cursor: default;" matTooltip="Kelas C bentrok dengan jadwal kuliah" matTooltipPosition="above">
                              <mat-icon style="color:darkgray;" aria-label="jadwal kelas">event</mat-icon> 
                              <span style="margin: 5px 10px 0 5px; color:slategray"> Kelas C Rabu 10-12 G4.202</span>  
                          </div>
                          -->
                        </div>
                        <div fxFlex></div>
                        <div fxFlex="initial" fxLayout="row" fxLayoutAlign="end end">
                            <button *ngIf="periode?.isBuka && !kelengkapan" (click)="deleteMK(mk.id)" mat-button color="warn">Batalkan Mendaftar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="tableColumn"></tr>
              <tr mat-row *matRowDef="let element; columns: tableColumn;"
                  class="example-element-row"
                  [class.example-expanded-row]="expandedElement === element"
                  (click)="expandedElement = expandedElement === element ? null : element">
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
            <!--
              <table mat-table [dataSource]="dataSource" >
              <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let mk; let i = index;"> {{i+1}} </td>
              </ng-container>
              <ng-container matColumnDef="matakuliah">
                <th mat-header-cell *matHeaderCellDef> Matakuliah </th>
                <td mat-cell *matCellDef="let mk;"> {{mk.matakuliah | capitalize}} </td>
              </ng-container>
              <ng-container matColumnDef="pesan">
                <th mat-header-cell *matHeaderCellDef> Status Pendaftaran </th>
                <td mat-cell *matCellDef="let mk;"> 
                  <mat-chip-list *ngIf="mk.status_pesan==1">
                    <mat-chip [matTooltip]="mk.pesan" matTooltipPosition="above"> <mat-icon>check</mat-icon> Lolos</mat-chip> 
                  </mat-chip-list>
                  <mat-chip-list *ngIf="mk.status_pesan==2">
                    <mat-chip [matTooltip]="mk.pesan" matTooltipPosition="above"> <mat-icon>clear</mat-icon> Tidak lolos </mat-chip> 
                  </mat-chip-list>
                  <mat-chip-list *ngIf="mk.status_pesan==3">
                    <mat-chip [matTooltip]="mk.pesan" matTooltipPosition="above"> <mat-icon>query_builder</mat-icon> Menuggu Hasil </mat-chip> 
                  </mat-chip-list>
                </td>
              </ng-container>
              <ng-container matColumnDef="aksi">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let mk;">
                  <a mat-icon-button matTooltip="Lihat informasi detail" matTooltipPosition="above">
                    <mat-icon style="color:#686363;" aria-label="Hapus jadwal kuliah">arrow_drop_down</mat-icon>
                  </a>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="tableColumn; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: tableColumn;"></tr>
            </table>
            -->
            <div fxLayout="row" fxLayoutAlign="center center">
              <div *ngIf="!(dataSource.data.length > 0) && !onProgress" class="mat-h3 table-empty-notif">Belum ada data</div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions style="padding-top:15px;">
          <div>
              <input type="file" [disabled]="onProgress" (change)="onFileChange($event)" style="display: none" #fileInput accept=".pdf">
              <button mat-button [matMenuTriggerFor]="krsMenu">
                <span *ngIf="fileKRS">
                  KRS {{periode}}
                </span>
                <span *ngIf="!fileKRS">
                  Tambahkan KRS
                </span>
                <!--Tambahkan KRS-->
              </button>
              <mat-menu #krsMenu="matMenu">
                <a mat-menu-item href="api/public/krs/{{fileKRS}}" target="_blank" [disabled]="!fileKRS">
                  <mat-icon style="color:#686363;" aria-label="Lihat KRS">description</mat-icon>
                  <span>Lihat KRS</span>
                </a>
                <!-- 
                  <button mat-menu-item [disabled]="fileKRS">
                  <mat-icon style="color:#686363;" aria-label="Lihat KRS">description</mat-icon>
                  <span>Lihat KRS</span>
                </button>
                -->
                <button mat-menu-item [disabled]="onProgress" (click)="fileInput.click()">
                  <mat-icon style="color:#686363;" aria-label="Upload KRS">cloud_upload</mat-icon>
                  Unggah Kartu Rencana Studi
                </button>
              </mat-menu>
              <!--<button mat-button>
                <mat-icon style="color:#686363;" aria-label="Upload KRS">description</mat-icon>
                KRS Genap 2018/2019
              </button>
              <button mat-icon-button matTooltip="Hapus KRS" 
                matTooltipPosition="above" color="warn">
                <mat-icon aria-label="Hapus Data">clear</mat-icon>
              </button>-->
              <div fxFlex></div>
              <button *ngIf="isHideDelete" @showHideAnimate (click)="openDeleteConfirm(null)" mat-icon-button matTooltip="Hapus jadwal yg dipilih" 
                matTooltipPosition="above" color="warn">
                <mat-icon aria-label="Hapus Data">delete_forever</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Tambah Jadwal" (click)="openDialog(false)" 
                matTooltipPosition="above" color="primary">
                <mat-icon aria-label="Tambah Jadwal">note_add</mat-icon>
              </button>
              
          </div>
        </mat-card-actions>
      </mat-card>
    <!--
    <mat-card class="table-card">
      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex>
            <h2 class="mat-h2 card-main-title">Aplikasi Matakuliah</h2>
            <div>Tambahkan Matakuliah Asistensi </div>
          </div>
          <div style="margin-right: -15px;">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>refresh</mat-icon>
                <span>Muat Ulang</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="table-container">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let mk; let i = index;"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="matakuliah">
              <th mat-header-cell *matHeaderCellDef> Matakuliah </th>
              <td mat-cell *matCellDef="let mk;"> {{mk.matakuliah}} </td>
            </ng-container>
            <ng-container matColumnDef="dosen">
              <th mat-header-cell *matHeaderCellDef> Dosen </th>
              <td mat-cell *matCellDef="let mk;"> {{mk.dosen}} </td>
            </ng-container>
            <ng-container matColumnDef="prodi">
              <th mat-header-cell *matHeaderCellDef> Prodi </th>
              <td mat-cell *matCellDef="let mk;"> {{mk.prodi}} {{mk.angkatan}} </td>
            </ng-container>
            <ng-container matColumnDef="pesan">
              <th mat-header-cell *matHeaderCellDef> Pesan </th>
              <td mat-cell *matCellDef="let mk;"> {{mk.pesan}} </td>
            </ng-container>
            <ng-container matColumnDef="aksi">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let mk;">
                <a *ngIf="periode?.isBuka && !kelengkapan" (click)="deleteMK(mk.id)" mat-icon-button matTooltip="Hapus Matakuliah" matTooltipPosition="above">
                  <mat-icon style="color:#686363;" aria-label="Hapus jadwal kuliah">delete</mat-icon>
                </a>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="tableColumn; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumn;"></tr>
          </table>
          <div fxLayout="row" fxLayoutAlign="center center">
            <div *ngIf="!(dataSource.data.length > 0) && !onProgress" class="mat-h3 table-empty-notif">Belum ada data</div>
          </div>
        </div>
      </mat-card-content>
      <div fxFlex></div>
      <mat-card-actions style="padding-top:15px;">
        <div fxLayoutAlign="row">
          <a *ngIf="!onProgress && !kelengkapan && (dataSource.data.length > 0)" mat-button href="api/public/mhs/pendaftaran-asisten/bukti-pendaftaran" target="_blank" >Bukti Pendaftaran Online</a>
          <div fxFlex></div>
          <a *ngIf="!onProgress && !kelengkapan && periode?.isBuka" mat-raised-button color="primary" [routerLink]="['./tambah']">Tambah Matakuliah</a>
        </div>
      </mat-card-actions>
    </mat-card>
    -->
  </div>
  <div fxFlex=30 *ngIf="kelengkapan">
    <mat-card>
      <div fxLayout="column">
        <h2 class="mat-h2 card-main-title">Kelengkapan Pendaftaran</h2>
        <mat-progress-bar mode="determinate" [value]="progressBar" style="margin-top:10px;"></mat-progress-bar>
        <mat-list>
          <mat-list-item >
            <mat-icon matListIcon *ngIf="lampiran?.ktm.status">check</mat-icon>
            <mat-icon matListIcon *ngIf="!lampiran?.ktm.status">clear</mat-icon>
            <h3 matLine> Upload KTM </h3>
          </mat-list-item>
          <mat-list-item >
              <mat-icon matListIcon *ngIf="lampiran?.krs.status">check</mat-icon>
              <mat-icon matListIcon *ngIf="!lampiran?.krs.status">clear</mat-icon>
            <h3 matLine> Upload KRS </h3>
          </mat-list-item>
          <mat-list-item >
              <mat-icon matListIcon *ngIf="lampiran?.khs.status">check</mat-icon>
              <mat-icon matListIcon *ngIf="!lampiran?.khs.status">clear</mat-icon>
            <h3 matLine> Upload KHS GENAP 2017/2018 </h3>
          </mat-list-item>
        </mat-list>
        <div>Lengkapi kelengkapan pendaftaran sebagai persyaratan wajib melakukan aplikasi matakuliah</div>
      </div>
    </mat-card>
  </div>
</div>