.button-upload {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.table-card{
    padding-top: 10px;
}
.table-container {
    overflow: auto;
    margin-top: 10px;
    margin-right: -16px;
    margin-left: -16px;
    margin-bottom: -24px !important;
    max-height: 392px;
}
table {
    width: 100%;
    min-width:580px;
}
.button-icon-fix{
    padding-left: 7px;
    padding-right: 7px;
    min-width: 24px;
}
mat-card {
    min-height: 200px;
}
mat-chip {
    min-width: 147px !important;
    padding-top: 6px;
    padding-bottom: 6px;
    mat-icon {
        font-size: 22px;
        width: 22px;
        height: 22px;
        margin-right: 7px;
    }
}
.table-empty-notif {
    padding-top:15px;
    color: rgba(0, 0, 0, 0.54);
}
.card-fix {
    padding-top: 10px;
}
.mat-column-aksi {
    width: 50px;
}
.mat-column-no {
    /*flex: 0 0 35px;*/
    width: 35px;
}
.panduan {
    /*font: 300 18px/28px Roboto, "Helvetica Neue", sans-serif;
    margin-top: 25px;*/
    margin-bottom: 30px !important;
    .desc {
        padding-left: 30px;
        li {
            margin-bottom: 5px;
        }
    }
}
tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
background: #efefef;
}

.example-element-row td {
border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    // display: flex;
}
.example-element-description {
    padding: 16px;
  }  
.example-element-description-attribution {
opacity: 0.5;
}
.example-expanded-row {
    background-color: #f9f9f9;
}
.example-detail-row {
    background-color: #f9f9f9;
}
.list-kelas{
    margin-top:5px;
    div {
        margin-bottom: 4px;
    }
}