<div class="main-layout" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
  <div fxFlex>
    <mat-card class="table-card">
      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex>
            <h2 class="mat-h2 card-main-title">Aplikasi Matakuliah</h2>
            <div>Tambahkan Matakuliah Asistensi </div>
          </div>
          <div style="margin-right: -15px;">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>refresh</mat-icon>
                <span>Muat Ulang</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="table-container">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let mk;"> {{mk.no}} </td>
            </ng-container>
            <ng-container matColumnDef="matakuliah">
              <th mat-header-cell *matHeaderCellDef> Matakuliah </th>
              <td mat-cell *matCellDef="let mk;"> {{mk.matakuliah}} </td>
            </ng-container>
            <ng-container matColumnDef="dosen">
              <th mat-header-cell *matHeaderCellDef> Dosen </th>
              <td mat-cell *matCellDef="let mk;"> {{mk.dosen}} </td>
            </ng-container>
            <ng-container matColumnDef="prodi">
              <th mat-header-cell *matHeaderCellDef> Prodi </th>
              <td mat-cell *matCellDef="let mk;"> {{mk.prodi}} {{mk.angkatan}} </td>
            </ng-container>
            <!-- <ng-container matColumnDef="jadwal">
              <th mat-header-cell *matHeaderCellDef> Jadwal </th>
              <td mat-cell *matCellDef="let mk;"> {{mk.pesan}} </td>
            </ng-container> -->
            <ng-container matColumnDef="aksi">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let mk;">
                <button mat-flat-button color="primary" [routerLink]="['./', mk.id]">Ambil</button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="tableColumn; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumn;"></tr>
          </table>
          <div fxLayout="row">
            <div fxFlex fxLayoutAlign="start center" style="margin-left: 15px;">
              <button mat-button [routerLink]="['../']">Kembali</button>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 25, 100]">
            </mat-paginator>
          </div>
         
          <div fxLayout="row" fxLayoutAlign="center center">
            <div *ngIf="!listMatakuliah && !onProgress" class="mat-h3 table-empty-notif">Belum ada data</div>
          </div>
        </div>
      </mat-card-content>
      
    </mat-card>
  </div>
</div>