<div class="register-body">
  <div fxHide.xs fxHide.sm style="height: 40px"></div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card fxFlex=35 fxFlex.xs=100 fxFlex.sm=70 fxFlex.md=50 class="login-layout">
      <div *ngIf="onProgress" style="margin: 0 -24px 0px -24px !important;">
          <mat-progress-bar mode="indeterminate" color="accent"
          ></mat-progress-bar>
      </div>  
      <div class="logo">
        <img src="assets/img/logo-elektro-black.png" alt="LogoElektroUM-Black">
      </div>
      <mat-card-content class="login-content">
        <div class="step1" *ngIf="step[1]">
            <div class="card-title">
              <h2 class="mat-h2">Halaman Lupa Password</h2>
              <div class="subheading">
                <span>Masukkan ID pengenal untuk merubah password</span>
              </div>
            </div>
          
            <form  [formGroup]="form" fxLayout="column">
              <mat-form-field appearance="outline">
                <mat-label>ID Akun</mat-label>
                <input matInput placeholder="Silahkan masukkan ID anda" formControlName="clt_id">
                <mat-hint class="hint-fixed">ID berupa Email, NIM, NIP, atau NIDN</mat-hint>
                <mat-error *ngIf="isOtherError()" class="hint-fixed">{{errorMessage.message}}</mat-error>
                <mat-error *ngIf="isFieldInvalid('clt_id')" class="hint-fixed">ID berupa Email, NIM, NIP, atau NIDN tidak valid</mat-error>
              </mat-form-field>
              <re-captcha 
                (resolved)="resolved($event)"
                siteKey="6LdQ5l0UAAAAAA6h734rSSNn6_dxJOg1EpkhnCDr"
                >
                  Periksa jaringan anda lalu muat ulang
              </re-captcha>
            </form>
        </div>
        <div class="stepLock" *ngIf="step[2]">
          <div fxLayout="column" fxLayoutAlign="space-around center">
              <img src="assets/img/outline_email_black_48dp.png">
              <h2 class="mat-h2">Periksa Email: {{emailSend}}</h2>
          </div>
          <div class="description">
              <h3 class="mat-h3">Kami telah mengirimkan email untuk membuat password baru. Silahkan periksa <b>kotak masuk</b> atau <b>kotak SPAM</b> untuk melanjutkan ubah password.</h3>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayoutAlign="row">
          <button mat-button [routerLink]="['./../login']">
            Halaman Login
          </button>
          <div fxFlex></div>
          <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="onProgress" *ngIf="step[1]">
            Kirim Permintaan
          </button>
          <a mat-raised-button color="primary" *ngIf="step[2]" [attr.href]="emailProvider" target="_blank">
            Buka Email
          </a>
  
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
