<div class="main-layout" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
    <div fxFlex=35 fxLayout="column" fxLayoutGap="10px">
        <mat-card>
          <div fxLayout="column">
            <h2 class="mat-h2 card-main-title">Perekrutan Formasi Asisten</h2>
            <div>Periode {{initData?.periode.nama}}</div> 
            <div class="message-box warning">{{initData?.periode.message.message}}</div>
          </div>
        </mat-card>
        <mat-card>
          <div fxLayout="column">
            <h2 class="mat-h2 card-main-title">Kelengkapan Pendaftaran</h2>
            <mat-progress-bar mode="determinate" [value]="progressBar" style="margin-top:10px;"></mat-progress-bar>
            <mat-list>
              <mat-list-item >
                <mat-icon matListIcon *ngIf="initData?.ktm.status">check</mat-icon>
                <mat-icon matListIcon *ngIf="!initData?.ktm.status">clear</mat-icon>
                <h3 matLine> Upload KTM </h3>
              </mat-list-item>
              <mat-list-item >
                  <mat-icon matListIcon *ngIf="initData?.krs.status">check</mat-icon>
                  <mat-icon matListIcon *ngIf="!initData?.krs.status">clear</mat-icon>
                <h3 matLine> Upload KRS </h3>
              </mat-list-item>
              <mat-list-item >
                  <mat-icon matListIcon *ngIf="initData?.khs.status">check</mat-icon>
                  <mat-icon matListIcon *ngIf="!initData?.khs.status">clear</mat-icon>
                <h3 matLine> Upload KHS GENAP 2017/2018 </h3>
              </mat-list-item>
            </mat-list>
            <div>Lengkapi kelengkapan pendaftaran sebagai persyaratan wajib melakukan aplikasi matakuliah</div>

          </div>
        </mat-card>
    </div>
    <mat-card fxFlex=60>
        <!-- <mat-card-header>
          <div fxLayout="row" fxLayout.xs="column" fxFlex>
            <div fxLayout="column">
              <h2 class="mat-h2 card-main-title">Pendaftaran Asisten</h2>
              <div>Periode Genap 2017/2018</div> 
            </div>
            <div fxFlex></div>
          </div>
          
        </mat-card-header>
      -->
      <mat-card-content>
        <mat-nav-list>
          <mat-list-item [routerLink]="['./../verifikasi-ktm']">
            <mat-icon matListIcon>credit_card</mat-icon>
            <h3 matLine> Verifikasi KTM </h3>
            <p matLine>
              <span> {{initData?.ktm.message}}</span>
            </p>
          </mat-list-item>
          <mat-list-item [routerLink]="['./../jadwal-kuliah']">
            <mat-icon matListIcon>event</mat-icon>
            <h3 matLine> Jadwal Studi (KRS) </h3>
            <p matLine>
              <span> {{initData?.krs.message}}</span>
            </p>
          </mat-list-item>
          <mat-list-item [routerLink]="['./../riwayat-studi']">
            <mat-icon matListIcon>assessment</mat-icon>
            <h3 matLine> Riwayat Studi (KHS) </h3>
            <p matLine>
              <span> {{initData?.khs.message}}</span>
            </p>
          </mat-list-item>
          <mat-list-item [routerLink]="['./../pengalaman-asistensi']">
            <mat-icon matListIcon>record_voice_over</mat-icon>
            <h3 matLine> Pengalaman Asistensi </h3>
            <p matLine>
              <span> Upload pengalaman asistensi jika anda pernah melakukan asistensi sebelumnya</span>
            </p>
          </mat-list-item>
          <mat-list-item [routerLink]="['./../pengalaman-organisasi']">
            <mat-icon matListIcon>assignment_ind</mat-icon>
            <h3 matLine> Pengalaman Organisasi </h3>
            <p matLine>
              <span> Upload pengalaman organisasi jika anda pernah mengikuti kegiatan ormawa</span>
            </p>
          </mat-list-item>
          <mat-list-item [routerLink]="['./../pendaftaran-matakuliah']">
            <mat-icon matListIcon>how_to_vote</mat-icon>
            <h3 matLine> Pendaftaran Matakuliah </h3>
            <p matLine>
              <span> Daftar menjadi asisten praktikum matakuliah tertentu</span>
            </p>
          </mat-list-item>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>
    
</div>
