$xs : 599px;
.main-layout {
    padding: 12px;
    @media screen and (max-width: $xs) {
        padding: 10px 0;
    }
}
mat-nav-list {
    padding-top: 0;
    mat-list-item {
        mat-icon {
            color: #686363;
        }
        h3 {
            font-weight: 500 !important;
            color: #444444;
        }
        p {
            color: #686363;
            //white-space: normal !important;
        }
    }
}

.card-main-title{
    margin-bottom: 0px;
}

.message-box {
    font-size: 16px;
    padding: 16px;
    background: #607d8b;
    border-left: 6px solid #37474f;
    margin: 10px 0;
}
.message-box.warning {
    background: #ffecb3;
    border-left-color: #ffc107;
    color: rgba(0,0,0,.87);
}
.card-sub-title {
    font-weight: 500;
    margin-top: 10px;
}
mat-hint, mat-error {
    font-size: 120%;
}