.logo-img-card {
    background-color: #075eab;
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
        max-width: 320px;
        margin: 0 auto;
}
.login-layout {
    padding-top: 0px;
    padding-bottom: 25px;
    .login-content {
        margin-top: 13px;
        form {
            margin-top:10px;
            margin-bottom: 15px;
            
        }
        .step1, .step2 {
            .subheading {
                margin-bottom: 25px; 
            }
            mat-hint, mat-error {
                font-size: 120%;
            }
        }
        .mat-h2 {
            margin-bottom: 0px;
        }
        
    }
    mat-progress-bar {
        margin-bottom: -4px;
    }
}
.progress-bar-container {
    margin: 0 -16px 0 -16px !important;
}
.top-form-field {
    div {
        .mat-form-field-flex {
            .mat-form-field-infix {
                border-top-width: 5px !important;
            }
        }
    } 
}

$xs : 599px;
.logo {
    margin: 0 -16px 0px -16px !important;
    background-color:#075eab;
    padding-top : 45px;
    padding-bottom: 45px;
    text-align: center;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    @media screen and (max-width: $xs) {
        margin: 0 -16px auto !important;
    }
}
.stepLock {
    .description {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}