<div fxHide.xs fxHide.sm style="height: 40px"></div>
<div *ngIf="showLogin" fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card fxFlex=35 fxFlex.xs=100 fxFlex.sm=70 fxFlex.md=50 class="login-layout">
      <div class="logo">
        <img src="assets/img/logo-elektro-white-login.png" alt="logoElektroUM">
      </div>
      <!--<img mat-card-image class="um-elektro-logo" src="assets/img/logo-elektro-white-login.png" alt="Logo Elektro UM">
        -->
    <div *ngIf="onProgress" class="progress-bar-container">
        <mat-progress-bar mode="indeterminate" color="accent"
        ></mat-progress-bar>
    </div>
    <mat-card-content class="login-content">
      <div @loginAnimate class="step1" *ngIf="step[1]">
          <h2 class="mat-h2">Halaman Login</h2>
          <div class="subheading">
            <span>Silahkan Masuk Terlebih Dahulu</span>
          </div>
          <form  [formGroup]="formUsername" fxLayout="column" (keydown)="onKeydown($event)">
              <mat-form-field appearance="outline">
                <mat-label>ID Akun</mat-label>
                <input matInput placeholder="Silahkan masukkan ID anda" name="clt_id" formControlName="clt_id">
                <mat-hint class="hint-fixed">ID berupa Email, NIM, NIP, atau NIDN</mat-hint>
                <mat-error *ngIf="isOtherError()" class="hint-fixed">{{errorMessage.message}}</mat-error>
                <mat-error *ngIf="isFieldInvalid('clt_id')" class="hint-fixed">ID berupa Email, NIM, NIP, atau NIDN tidak valid</mat-error>
              </mat-form-field>
            </form>
      </div>
      <div @loginAnimate class="step2" *ngIf="step[2]">
        <h2 class="mat-h2">Selamat Datang</h2>
        <div class="subheading">
          <span>Selangkah Lagi Untuk Masuk</span>
        </div>
        <form  [formGroup]="formPassword" fxLayout="column" (keydown)="onKeydown($event)">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input [type]="hide_password ? 'password' : 'text'" matInput placeholder="Silahkan masukkan Password anda" formControlName="clt_password" name="clt_password">
            <mat-icon matSuffix *ngIf="formPassword.valid" (click)="hide_password = !hide_password" style="cursor: pointer;">{{hide_password ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-hint class="hint-fixed">Akun akan terkunci ketika salah password lebih dari 6x</mat-hint>            
            <mat-error *ngIf="isOtherError()" class="hint-fixed">{{errorMessage.message}}</mat-error>
            <mat-error *ngIf="isFieldInvalid('clt_password')" class="hint-fixed">Password wajib diisi</mat-error>
          </mat-form-field>
        </form>
      </div>
      <div @loginAnimate class="stepLock" *ngIf="step[3]">
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <img src="assets/img/outline_email_black_48dp.png">
            <h2 class="mat-h2">Periksa Email: {{locked.email}}</h2>
        </div>
        <div class="description">
            <span>Kami mendeteksi akun anda telah melakukan kesalahan pengisian password sebanyak lebih dari 6 kali. Silahkan buka email anda untuk membuka akun yang telah terkunci.</span>
        </div>
        <div class="alternative">
            <span>Atau tunggu selama {{locked.count_down}} agar bisa menggunakan akun anda kembali</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div fxLayoutAlign="row">
          <button mat-button [routerLink]="['../daftar-akun']" *ngIf="step[1]">
            Buat Akun
          </button>
          
          
          <button mat-button (click)="stepActive('1')" *ngIf="step[3] || step[2]">
            Kembali
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon *ngIf="step[1]">expand_more</mat-icon>
          </button>
          <mat-menu #menu="matMenu" >
            <button mat-menu-item *ngIf="step[1]" [routerLink]="['./../lupa-password']">
              <span>Lupa Password ?</span>
            </button>
            <button mat-menu-item *ngIf="step[1]">
              <span>Permasalahan Lainnya</span>
            </button>
          </mat-menu>
          <div fxFlex></div>
          <button mat-button [routerLink]="['../lupa-password']" *ngIf="step[2]">
            Lupa Password
          </button>
          <button *ngIf="step[1]" mat-raised-button color="primary" (click)="formSubmit()" [disabled]="onProgress">Selanjutnya</button>
          <button *ngIf="step[2]" mat-raised-button color="primary" (click)="formSubmit()" [disabled]="onProgress">Masuk</button>
          <button *ngIf="step[3]" mat-raised-button color="primary" [routerLink]="['../lupa-password']">Lupa Password</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
