.button-upload {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.table-card{
    padding-top: 10px;
}
.table-container {
    overflow: auto;
    margin-top: 10px;
    margin-right: -24px;
    margin-left: -24px;
    margin-bottom: -24px !important;
    max-height: 392px;
}
table {
    width: 100%;
    min-width:700px;
}
.button-icon-fix{
    padding-left: 7px;
    padding-right: 7px;
    min-width: 24px;
}
mat-card {
    min-height: 200px;
}
mat-chip {
    padding-top: 6px;
    padding-bottom: 6px;
    mat-icon {
        font-size: 22px;
        width: 22px;
        height: 22px;
        margin-right: 7px;
    }
}
.table-empty-notif {
    padding-top:15px;
    color: rgba(0, 0, 0, 0.54);
}
.card-fix {
    padding-top: 10px;
}
.mat-column-aksi {
    width: 100px;
}
.mat-column-no {
    /*flex: 0 0 35px;*/
    width: 35px;
}
.panduan {
    /*font: 300 18px/28px Roboto, "Helvetica Neue", sans-serif;
    margin-top: 25px;*/
    margin-bottom: 30px !important;
    .desc {
        padding-left: 30px;
        li {
            margin-bottom: 5px;
        }
    }
}
.tbl-header-hrz{
    background-color: rgb(16, 108, 200);
    color:#fff; 
    padding:12px; 
    margin-bottom:2px}
.tbl-header-hrz th{
    padding: 13px 10px;text-align:left;
}
.tbl-header-hrz td{
    padding: 13px 10px;text-align:left;
}
.tbl-header-hrz tr :hover{
   background-color:rgba(244, 67, 54, 1) !important;
}
.tbl-data-hrz{
    background-color: rgba(96, 125, 139, 1);
    color:#fff; 
    padding:12px; 
    margin-bottom:2px;
    margin-left:5px;
}