<div class="main-layout" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
  <div fxFlex>
    <mat-card class="table-card">
      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex>
            <h2 class="mat-h2 card-main-title">Aplikasi Matakuliah</h2>
            <div>Detail Matakuliah Praktikum</div>
          </div>
          <div style="margin-right: -15px;">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>refresh</mat-icon>
                <span>Muat Ulang</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div style="margin-top:10px;" *ngIf="error?.status">
          <div fxLayout="row" >
              <div fxFlex=30 class="tbl-header-hrz" style="margin-bottom:4px;">
                  <span> Matakuliah </span>
              </div>
              <div fxFlex class="tbl-data-hrz" style="margin-bottom:4px;">
                  <span> {{detailMK?.matakuliah}} - {{detailMK.prodi}} {{detailMK.angkatan}}  </span>
              </div>
          </div>
          <div fxLayout="row">
              <div fxFlex=30 class="tbl-header-hrz" style="margin-bottom:4px;">
                  <span> Dosen Pengampu </span>
              </div>
              <div fxFlex class="tbl-data-hrz" style="margin-bottom:4px;" >
                  <span> {{detailMK?.dosen}} </span>
              </div>
          </div>
          <div fxLayout="row">
              <div fxFlex=30 class="tbl-header-hrz" style="margin-bottom:4px;">
                  <span> Jadwal</span>
              </div>
              <div fxFlex class="tbl-data-hrz" style="margin-bottom:4px;" fxLayout="column">
                  <span *ngFor="let jadwal of detailMK?.jadwal">
                    Kelas {{jadwal.offering}}
                    {{jadwal.hari | uppercase}} {{jadwal.jam}} {{jadwal.ruangan}}
                  </span>
              </div>
          </div>
          <div>
            <h2 class="mat-h2 card-main-title">Form Aplikasi Matakuliah</h2>
            <form [formGroup]="formAplikasi" fxLayout="column" fxLayoutGap="10px">
                <mat-form-field appearance="outline">
                  <mat-label>Nilai Matakuliah</mat-label>
                  <mat-select formControlName="clt_persyaratan_nilai">
                    <mat-option *ngFor="let nilai of predikat" [value]="nilai.id">
                      {{nilai.predikat}}
                    </mat-option>
                  </mat-select>
                  <mat-hint>Nilai Anda: {{detailMK?.matakuliah}}</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Kartu Hasil Studi</mat-label>
                  <mat-select formControlName="clt_persyaratan_khs">
                    <mat-option *ngFor="let khs of riwayatStudi" [value]="khs.id" [disabled]="!khs.id">
                      Semester {{khs.semester}} - {{khs.message}}
                    </mat-option>
                  </mat-select>
                  <mat-hint>Semester Saat Studi {{detailMK?.matakuliah}}</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>IPK Terakhir</mat-label>
                  <input matInput placeholder="Masukkan IPK anda" formControlName="clt_ipk" name="clt_ipk">
                  <mat-hint>contoh: 3.40</mat-hint>
                </mat-form-field>
            </form>
          </div> 
        </div>
        <div *ngIf="!error?.status && !onProgress">
            <div class="message-box warning">{{error?.message}}</div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayoutAlign="row">
          <button mat-button [routerLink]="['../']">
            Kembali
          </button>
          <div fxFlex></div>
          <button mat-raised-button color="primary" (click)="formSubmit()" [disabled]="onProgress">Daftar Matakuliah</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
