<div class="register-body">
  <div fxHide.xs style="height: 20px">
    </div>
    <div fxLayout="row" fxLayoutAlign="center start">
      <mat-card fxFlex.xs=100 fxFlex.sm=70 fxFlex=50 >
          <div *ngIf="onProgressBar" class="progress-bar-container">
              <mat-progress-bar mode="indeterminate" color="accent"
              ></mat-progress-bar>
          </div>
        <div class="logo">
          <img src="assets/img/logo-elektro-black.png" alt="LogoElektroUM-Black">
        </div>
        <div *ngIf="onPendaftaran">
          <div class="card-title">
              <h2 class="mat-h2">Halaman Pendaftaran Akun</h2>   
              <div class="subheading">
                <span>Form Pendaftaran Akun Mahasiswa</span>
              </div>
          </div>
          <mat-vertical-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="informasiMahasiswa">
              <form [formGroup]="informasiMahasiswa">
                <ng-template matStepLabel>Informasi Mahasiswa</ng-template>
                <div fxLayout="column">
                    <mat-form-field appearance="outline">
                      <mat-label>Nama Mahasiswa</mat-label>
                      <input matInput placeholder="Silahkan Masukkan Nama Anda" name="clt_nama" formControlName="clt_nama" oninput="this.value = this.value.toUpperCase()">
                      <mat-hint class="hint-fixed">Penulisan nama sesuai yg tertera pada KTM</mat-hint>
                      <mat-error class="hint-fixed">Nama wajib diisi.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Nomor Induk Mahasiswa</mat-label>
                        <input matInput placeholder="Silahkan Masukkan NIM Anda" name="clt_nim" formControlName="clt_nim">
                        <mat-hint class="hint-fixed">Pastikan NIM sesuai dengan KTM</mat-hint>
                        <mat-error class="hint-fixed">Pengisian NIM tidak valid.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Konfirmasi NIM</mat-label>
                        <input matInput placeholder="Silahkan Masukkan Kembali NIM Anda" name="clt_nim_confirm" formControlName="clt_nim_confirm">
                        <mat-hint class="hint-fixed">Konfirmasi penulisan ulang NIM</mat-hint>
                        <mat-error class="hint-fixed" *ngIf="informasiMahasiswa.controls.clt_nim_confirm.errors?.NimVerify">Konfirmasi NIM tidak sesuai dengan NIM</mat-error>
                        <mat-error class="hint-fixed" *ngIf="informasiMahasiswa.controls.clt_nim_confirm.errors?.required">Konfirmasi NIM wajib diisi</mat-error>
                    </mat-form-field>
                    
                </div>
                <div fxLayout="row" class="form-wizard-footer">
                  <div fxFlex></div>
                  <mat-spinner diameter="25" strokeWidth="3" *ngIf="onProgressSpinner[0]"></mat-spinner>                        
                  <button mat-raised-button color="primary" [disabled]="onProgressSpinner[0] || onProgressBar" (click)="cekNIM(stepper)">Selanjutnya</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="informasiKelas">
                <form [formGroup]="informasiKelas">
                  <ng-template matStepLabel>Informasi Kelas</ng-template>
                  <div fxLayout="column">
                    <mat-form-field appearance="outline">
                      <mat-select placeholder="Pilih Prodi Anda" formControlName="clt_prodi">
                        <mat-optgroup *ngFor="let groupProdi of prodi" [label]="groupProdi.kategori">
                          <mat-option *ngFor="let listProdi of groupProdi.prodi" [value]="listProdi.id">
                            {{listProdi.prodi}}
                          </mat-option>
                        </mat-optgroup>
                      </mat-select>
                      <mat-error>Prodi wajib dipilih</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-select placeholder="Pilih Angkatan" formControlName="clt_angkatan">
                        <mat-option *ngFor="let tahun of angkatan" [value]="tahun">
                          {{tahun}}
                        </mat-option>
                        
                      </mat-select>
                      <mat-error>Angkatan wajib dipilih</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Kelas</mat-label>
                        <input matInput placeholder="Masukkan Kelas Anda" formControlName="clt_kelas" oninput="this.value = this.value.toUpperCase()">
                        <mat-error class="hint-fixed">Pengisian kelas wajib diisi.</mat-error>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" class="form-wizard-footer">
                    <button mat-button matStepperBack>Kembali</button>
                    <div fxFlex></div>                      
                    <button mat-raised-button color="primary" [disabled]="onProgressBar" matStepperNext>Selanjutnya</button>
                  </div>
                </form>
              </mat-step>
            <mat-step [stepControl]="informasiPribadi" class="step-finish">
              <form [formGroup]="informasiPribadi">
                <ng-template matStepLabel>Informasi Pribadi</ng-template>
                <div fxLayout="column">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Silahkan Masukkan Email Anda" name="mhsEmail" formControlName="clt_email">
                        <mat-hint class="hint-fixed">Email akan diverifikasi oleh sistem</mat-hint>
                        <mat-error class="hint-fixed">Pengisian Email tidak valid.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>No HP</mat-label>
                        <input matInput placeholder="Silahkan Masukkan No HP Anda" name="mhsNoHP" formControlName="clt_hp">
                        <mat-hint class="hint-fixed">No HP yang bisa dihubungi</mat-hint>
                        <mat-error class="hint-fixed">Pengisian No HP tidak valid.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-select placeholder="Pilih Jenis Kelamin Anda" formControlName="clt_jk">
                        <mat-option value="L">
                          Laki-laki
                        </mat-option>
                        <mat-option value="P">
                          Perempuan
                        </mat-option>
                      </mat-select>
                      <mat-error>Prodi wajib dipilih</mat-error>
                    </mat-form-field>
                    <re-captcha 
                      (resolved)="resolved($event)"
                      siteKey="6LdQ5l0UAAAAAA6h734rSSNn6_dxJOg1EpkhnCDr"
                      >
                        Periksa jaringan anda lalu muat ulang
                    </re-captcha>
                    
                </div>
                <div fxLayout="row" class="form-wizard-footer form-wizard-end">
                    <button mat-button matStepperBack>Kembali</button>
                    <div fxFlex></div>
                    <mat-spinner diameter="25" strokeWidth="3" *ngIf="onProgressSpinner[1]" ></mat-spinner>                          
                    <button mat-raised-button color="primary" [disabled]="onProgressSpinner[1] || onProgressBar" (click)="submitForm()">Daftar</button>
                  </div>
              </form>
            </mat-step>
          </mat-vertical-stepper>
        </div>
        <div *ngIf="!onPendaftaran">
          <!-- <div class="card-title">
              <h2 class="mat-h2">Informasi Konfirmasi Email</h2>   
              <div class="subheading">
                <span>Berhasil Melakukan Pendaftaran</span>
              </div> 
          </div> -->
          <div class="email-confirm">
            <div class="text-center">
              <span>Kami telah mengirimkan email konfirmasi ke</span>
              <h2 class="mat-h2">{{email}}</h2>
              <span class="mat-h3">Periksa <b>Kotak Masuk</b> atau <b>Kotak Spam</b> Email anda untuk melanjutkan pendaftaran. Lakukan konfirmasi email sebelum 48 jam setelah pesan ini keluar</span>
            </div>
          </div>
        </div>
        
        
        <mat-card-actions>
          <div fxLayoutAlign="row">
              <button mat-button [routerLink]="['../login']">
                  Halaman Login
              </button>
              <div fxFlex></div>
              <a mat-button href="https://intip.in/panduanSIASPRAK" target="_blank">Panduan Pendaftaran</a>
              
          </div>
        </mat-card-actions>
      </mat-card>
    </div>

</div>