.register-body {
    background-color: #e5e5e5;
    min-height: 100%;
}
form {
    .mat-form-field {
        margin-bottom: 15px;
    }
}
mat-hint, mat-error {
    font-size: 120%;
}
mat-card {
    margin-bottom:20px;
    padding-top:0px;
}
$xs : 599px;
.logo {
    margin: 0 -24px 0px -24px !important;
    padding-top : 34px;
    padding-bottom: 25px;
    text-align: center;
    @media screen and (max-width: $xs) {
        margin: 0 -16px auto !important;
    }
}
.card-title {
    margin-left: 25px;
    margin-bottom: -25px;
    .subheading {
        margin-bottom: 25px; 
    }
    .mat-h2 {
        margin-bottom: 0px;
    }
}
.form-wizard-footer {
    .mat-spinner {
        margin : 5px 10px 0 0;
    }
}
.form-wizard-end {
    margin-top: 25px;
}
.progress-bar-container {
    margin: 0 -16px 0 -16px !important;
}
.email-confirm {
   padding-top: 25px;
   padding-bottom: 50px;
   h2 {
       margin-bottom: 10px;
   }
}