<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <p style="font : 400 16px/30px Roboto, 'Helvetica Neue', sans-serif;">{{message}}</p>
</div>
<div mat-dialog-actions>
  <div fxFlex></div>
  <button mat-button (click)="onClick(false)">Batal</button>
  <button mat-button (click)="onClick(true)" cdkFocusInitial>Konfirmasi</button>
</div>
