<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="formJadwal" fxLayout="column" (keydown)="onKeydown($event)">
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Mata Kuliah</mat-label>
      <input matInput placeholder="Masukkan Nama Mata Kuliah" formControlName="clt_matakuliah">
      <mat-hint>Dapat disingkat asal terbaca</mat-hint>
    </mat-form-field>
    <div fxLayout="row" fxLayout.xs="column">   
      <mat-form-field appearance="outline" fxFlex="47" >
        <mat-label>Hari</mat-label>
        <mat-select formControlName="clt_jadwal_hari" name="clt_jadwal_hari">
          <mat-option>Fleksibel</mat-option>
          <mat-option value="Senin">Senin</mat-option>
          <mat-option value="Selasa">Selasa</mat-option>
          <mat-option value="Rabu">Rabu</mat-option>
          <mat-option value="Kamis">Kamis</mat-option>
          <mat-option value="Jumat">Jumat</mat-option>
        </mat-select>
      </mat-form-field>
      <div fxFlex.gt-xs ></div>
      <mat-form-field appearance="outline" fxFlex=47>
        <mat-label>Ruangan</mat-label>
        <input matInput placeholder="Ruang Jadwal Kuliah" formControlName="clt_ruangan" name="clt_ruangan"  oninput="this.value = this.value.toUpperCase()">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.xs="column">   
      <mat-form-field appearance="outline" fxFlex="47">
        <mat-label>Jam Awal</mat-label>
        <mat-select formControlName="clt_jam_awal" name="clt_jam_awal">
          <mat-option [value]="jam" *ngFor="let jam of listJam">{{jam}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div fxFlex.gt-xs ></div>
      <mat-form-field appearance="outline" fxFlex="47">
        <mat-label>Jam Akhir</mat-label>
        <mat-select formControlName="clt_jam_akhir" name="clt_jam_akhir">
          <mat-option [value]="jam" *ngFor="let jam of listJam">{{jam}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <div fxFlex></div>
  <button mat-button (click)="onNoClick()">Batal</button>
  <button mat-button (click)="onSubmit()">Simpan</button>
</div>
