<div class="main-layout" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
  <div fxFlex=40 fxLayoutGap="10px"> 
    <mat-card>
      <div fxLayout="column">
        <h2 class="mat-h2 card-main-title">Identitas Akun</h2>
        <div>Verifikasi Identitas Dengan KTM</div> 
        <div style="margin-bottom: 20px;"></div>
        <form [formGroup]="formIdentitas" fxLayout="column">
          <mat-form-field appearance="outline" style="margin-bottom: 20px;">
            <mat-label>Nama Lengkap</mat-label>
            <input matInput placeholder="Nama lengkap sesuai KTM" (blur)="onSubmit()" formControlName="clt_nama">
            <mat-icon matSuffix>account_box</mat-icon>
            <mat-hint>Nama sesuai seperti yang tertulis pada KTM</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline" style="margin-bottom: 20px;"  >
            <mat-label>Nomor Induk Mahasiswa (NIM)</mat-label>
            <input matInput placeholder="NIM sesuai KTM" (blur)="onSubmit()" formControlName="clt_nim">
            <mat-icon matSuffix>credit_card</mat-icon>
            <mat-hint>Teliti dalam memasukkan NIM anda</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Program Studi</mat-label>
            <mat-select formControlName="clt_prodi" (blur)="onSubmit()">
              <mat-option *ngFor="let prod of prodi" [value]="prod.id">
                {{prod.nama}}
              </mat-option>
            </mat-select>
            <mat-hint>Program Studi yang sedang ditempuh</mat-hint>
          </mat-form-field>
        </form>
        <div class="mat-h3" style="margin-top:20px;margin-bottom:0px;">Sesuaikan identitas akun seperti Kartu Tanda Mahasiswa (KTM) yang anda miliki.</div> 
      </div>
    </mat-card>
  </div>
  <div fxFlex=60>
    <mat-card>
      <mat-card-content>
        <div *ngIf="!ktm?.imageUrl">
            <h2 class="mat-h2 card-main-title">Upload Kartu Tanda Mahasiswa</h2>
            <div>Upload Hasil Scan atau Hasil Foto KTM dari Kamera </div>
            <div class="panduan">
                <div class="title" style="font: 400 18px/28px Roboto, 'Helvetica Neue', sans-serif;
                margin-top: 25px;">Panduan mengupload KTM</div>
                <ol class="desc">
                  <li>Ambil gambar Kartu Tanda Mahasiswa menggunakan Scanner atau Kamera</li>
                  <li>Pastikan gambar KTM jelas dan tidak buram</li>
                  <li>Disarankan untuk mengupload gambar dengan ukuran kurang dari 2 MB</li>
                </ol>
              </div> 
        </div>
        <div *ngIf="ktm?.imageUrl">
          <div *ngIf="ktm.is_verified">
              <h2 class="mat-h2 card-main-title">Kartu Tanda Mahasiswa</h2>
              <div>Akun Anda Telah Terverifikasi</div>
              <img mat-card-image src="api/public/upload/ktm/{{ktm?.imageUrl}}" alt="Hasil Upload KTM">
          </div>
          <div *ngIf="!ktm?.is_verified">
              <h2 class="mat-h2 card-main-title">Upload Kartu Tanda Mahasiswa</h2>
              <div>Upload Hasil Scan atau Hasil Foto KTM dari Kamera </div>
              <div class="message-box warning" *ngIf="ktm?.message">Permohonanan verifikasi KTM anda ditolak. Segera perbaiki dan upload ulang untuk melakukan verifikasi KTM. Alasan ditolak: <b>{{ktm.message}}</b></div>
              <div class="message-box warning" *ngIf="!ktm?.message">Permintaan verifikasi anda masih diproses, silahkan lanjutkan pendaftaran sambil menunggu pemberitahuan selanjutnya</div>
              <img mat-card-image src="api/public/upload/ktm/{{ktm?.imageUrl}}" alt="Hasil Upload KTM">
          </div>
            
        </div>
        <!--
        <h2 class="mat-h2 card-main-title">Upload Kartu Tanda Mahasiswa</h2>
        <div>Upload Hasil Scan atau Hasil Foto KTM dari Kamera </div> -->
        <!-- <div class="panduan">
          <div class="title" style="font: 400 18px/28px Roboto, 'Helvetica Neue', sans-serif;
          margin-top: 25px;">Panduan mengupload KTM</div>
          <ol class="desc">
            <li>Ambil gambar Kartu Tanda Mahasiswa menggunakan Scanner atau Kamera</li>
            <li>Pastikan gambar KTM jelas dan tidak buram</li>
            <li>Disarankan untuk mengupload gambar dengan ukuran kurang dari 2 MB</li>
          </ol>
        </div> 
        <div class="message-box warning">Permohonanan verifikasi KTM anda ditolak. Segera perbaiki dan upload ulang untuk melakukan verifikasi KTM. Alasan ditolak: <b>Gambar Tidak Jelas!</b></div>
        <img mat-card-image src="siasprak-php/api/public/upload/ktm/KTM_6ojlEITmOiGvPU7OjoTy.jpeg" alt="KTM">
        -->
      </mat-card-content>
      <mat-card-actions *ngIf="!ktm?.is_verified">
          <div fxLayoutAlign="row">
            <div fxFlex></div>
            <input type="file" [disabled]="onProgress" (change)="onFileChange($event)" style="display: none" #fileInput accept=".png, .jpg, .jpeg">
            <button mat-raised-button color="primary" [disabled]="onProgress" (click)="fileInput.click()">
              <mat-icon>photo</mat-icon>
              Upload KTM
            </button>
          </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>