.panduan {
    /*font: 300 18px/28px Roboto, "Helvetica Neue", sans-serif;
    margin-top: 25px;*/
    margin-bottom: 30px !important;
    .desc {
        padding-left: 30px;
        li {
            margin-bottom: 5px;
        }
    }
}
