<div class="main-layout" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
  <div fxFlex=65 fxFlex.md=60>
    <mat-card class="table-card">
      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex>
            <h2 class="mat-h2 card-main-title">Riwayat Studi Mahasiswa</h2>
            <div>Hasil Unggah Kartu Hasil Studi (KHS) </div>
          </div>
          <div style="margin-right: -15px;">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>refresh</mat-icon>
                <span>Muat Ulang</span>
              </button>
            </mat-menu>
          </div>
        </div>
        
        <div class="table-container">
          <table mat-table [dataSource]="listKHS">
            <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let khs; let i = index;"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="semester">
                <th mat-header-cell *matHeaderCellDef> KHS </th>
                <td mat-cell *matCellDef="let khs"> Semester {{khs.semester}} </td>
            </ng-container>
            
            <ng-container matColumnDef="ip">
              <th mat-header-cell *matHeaderCellDef> IP </th>
              <td mat-cell *matCellDef="let khs"> {{khs.ip}} </td>
            </ng-container>
            <ng-container matColumnDef="periode">
                <th mat-header-cell *matHeaderCellDef> Periode </th>
                <td mat-cell *matCellDef="let khs">{{khs.tahun_ajaran}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let khs"> 
                <mat-chip-list *ngIf="khs.status_message==1">
                  <mat-chip matTooltip="Admin akan segera  melakukan verifikasi KHS tersebut" matTooltipPosition="above"> <mat-icon>query_builder</mat-icon> Belum Terverifikasi </mat-chip> 
                </mat-chip-list>
                <mat-chip-list *ngIf="khs.status_message==2">
                  <mat-chip matTooltip="KHS telah diverifkasi oleh Admin" matTooltipPosition="above"> <mat-icon>check</mat-icon> Terverifikasi </mat-chip> 
                </mat-chip-list>
                <mat-chip-list *ngIf="khs.status_message==3">
                  <mat-chip matTooltip="Silahkan Unggah Ulang KHS Anda !" matTooltipPosition="above"> <mat-icon>clear</mat-icon> KHS Ditolak </mat-chip> 
                </mat-chip-list>
              </td>
            </ng-container>
            <ng-container matColumnDef="aksi">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let khs">
                  <a mat-icon-button (click)="openDialog(khs)" matTooltip="Lihat file KHS Semester {{khs.semester}}"
                    matTooltipPosition="above">
                    <mat-icon style="color:#686363;" aria-label="Lihat File KHS">list</mat-icon>
                  </a>
                  <!-- <button mat-raised-button color="warn" class="button-icon-fix">
                    <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                  </button> -->

                </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="tableColumn; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumn;"></tr>
          </table>
          <div fxLayout="row" fxLayoutAlign="center center">
            <div *ngIf="!listKHS && !onProgress" class="mat-h3 table-empty-notif">Belum ada data</div>
          </div>
        </div>
        <mat-card-actions style="padding:8px 0;">
          <div>
              <!-- <input type="file" [disabled]="onProgress" (change)="onFileChange($event)" style="display: none" #fileInput accept=".pdf">
              <button mat-button [matMenuTriggerFor]="krsMenu">
                Unggah KHS
              </button>
              <mat-menu #krsMenu="matMenu">
                <a mat-menu-item href="api/public/krs/{{fileKRS}}" target="_blank" [disabled]="!fileKRS">
                  <mat-icon style="color:#686363;" aria-label="Lihat KRS">description</mat-icon>
                  <span>Lihat KRS</span>
                </a>
                <button mat-menu-item [disabled]="onProgress" (click)="fileInput.click()">
                  <mat-icon style="color:#686363;" aria-label="Upload KRS">cloud_upload</mat-icon>
                  Unggah Kartu Rencana Studi
                </button>
              </mat-menu>
            -->
              <div fxFlex></div>
              <button mat-icon-button matTooltip="Tambah KHS" (click)="openDialog(false)" 
                matTooltipPosition="above" color="primary">
                <mat-icon aria-label="Tambah KHS">note_add</mat-icon>
              </button>
              
          </div>
        </mat-card-actions>
      </mat-card-content>
      <!-- <mat-card-actions style="padding-top:15px;">
        <div fxLayoutAlign="row">
          <div fxFlex></div>
          <button mat-raised-button color="primary">Upload KHS</button>
        </div>
      </mat-card-actions> -->
    </mat-card>
  </div>
  <div fxFlex=35 fxFlex.md=40>
    <mat-card class="card-fix">
      <div fxLayout="column">
        <h2 class="mat-h2 card-main-title">Pedoman Mengunggah KHS</h2>
        <div>Ketentuan agar KHS terverifikasi</div> 
        <div class="panduan">
            <ol class="desc">
              <li>Hanya unggah KHS Asli yang didapatkan di bagian Akademik UM</li>
              <div class="desc-content" fxLayout="column">
                <span style="display: inline-flex; vertical-align: middle; margin-bottom:5px;">
                  <mat-icon style="color:#686363;" aria-label="yes">check</mat-icon>
                  <code style="padding-top:3px;margin-left:6px;">Hasil Scan/Foto KHS Asli</code>
                </span>
                <span style="display: inline-flex; vertical-align: middle; margin-bottom:5px;">
                  <mat-icon style="color:#686363;" aria-label="no">clear</mat-icon>
                  <code style="padding-top:3px;margin-left:6px;">Hasil KHS dari SIAKAD UM</code>
                </span>
              </div>
              <li>Unggah KHS berupa Gambar</li>
              <div class="desc-content">
                <code>.jpg</code> <code>.jpeg</code> <code>.png</code> <code> &#60; 2MB </code>
              </div>
              <li>Informasi Cetak KHS asli</li>
              <div class="desc-content">
                <code>bakpik.um.ac.id</code> <code>um.ac.id</code>
              </div>
              <li>Data yang masuk tidak dapat dihapus tetapi masih bisa diubah</li>
              <!--
              <li>Sesuaikan jika jadwal tidak sesuai</li>
              <div class="desc-content" fxLayout="column">
                <span style="display: inline-flex; vertical-align: middle; margin-bottom:5px;">
                  <mat-icon style="color:#686363;" aria-label="Hapus Data">note_add</mat-icon>
                  <code style="padding-top:3px;margin-left:6px;">Tambahkan Jadwal</code>
                </span>
                <span style="display: inline-flex; vertical-align: middle;  margin-bottom:5px;">
                  <mat-icon style="color:#686363;" aria-label="Hapus Data">event_note</mat-icon>
                  <code style="padding-top:3px;margin-left:6px;">Ubah Jadwal</code>
                </span>
                <span style="display: inline-flex; vertical-align: middle; margin-bottom:5px;">
                    <mat-icon style="color:#686363;" aria-label="Hapus Data">delete</mat-icon>
                    <code style="padding-top:3px;margin-left:6px;">Hapus Jadwal</code>
                  </span>  
              </div>
              -->
              <!--
              <li>File diupload berupa PDF asli dari SIAKAD UM</li>
              <li>Pastikan KRS merupakan periode {{periode}}</li>-->
            </ol>
            <span>
              Data KHS / Riwayat Studi digunakan sebagai bukti masukan nilai <code>matakuliah prasyarat</code> calon asisten praktikum
            </span>
          </div> 
      </div>
      <mat-card-actions>
        <div fxLayoutAlign="row">
          <div fxFlex></div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
          <!--
  <div fxFlex=35 fxFlex.md=40>
      <mat-card class="card-fix">
        <div fxLayout="column">
          <h2 class="mat-h2 card-main-title">Panduan Unggah KHS</h2>
          <div>Cara Menambahkan Riwayat Studi</div> 
          <div style="margin-bottom: 20px;"></div>
  
          <h2 class="mat-h2 card-main-title">Upload KHS</h2>
          <div>KHS Berupa Hasil Scan atau Kamera</div> 
          <div style="margin-bottom: 20px;"></div>
          <div class="mat-h3" style="margin-bottom:20px;margin-top:0px;">Format berupa .jpeg/.png dengan ukuran kurang dari 2MB dan gambar harus jelas karena akan ditinjau ulang.</div> 
          <form [formGroup]="formUpload" fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>Pilih KHS Semester</mat-label>
              <mat-select formControlName="clt_semester">
                <mat-option *ngFor="let smt of listSemester" [value]="smt.id" [disabled]="smt.disabled">
                  {{smt.label}} <span *ngIf="smt.periode">- {{smt.periode}}</span>
                </mat-option>
              </mat-select>
              <mat-hint>Program Studi yang sedang ditempuh</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" style="margin-bottom: 10px;">
              <mat-label>Indeks Prestasi (IP)</mat-label>
              <input matInput placeholder="Masukkan IP KHS anda" formControlName="clt_ip" name="clt_ip">
              <mat-icon matSuffix>credit_card</mat-icon>
              <mat-hint>contoh: 3.70</mat-hint>
            </mat-form-field>
            <input type="file" name="upload" formControlName="upload" (change)="onFileChange($event)" style="display: none" #fileInput accept=".png, .jpg, .jpeg">
          </form>
        </div>
        <button  [disabled]="onProgress" (click)="fileInput.click()" mat-button class="button-upload">
          <mat-icon *ngIf="uploadButtonName=='Upload KHS'">add</mat-icon>
          {{uploadButtonName}}</button>
        <mat-card-actions>
          <div fxLayoutAlign="row">
            <div fxFlex></div>
            <button (click)="onSubmit()" mat-raised-button color="primary">Kirim</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    -->
</div>


<!-- <div class="main-layout" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
  <div fxFlex=60 fxLayoutGap="10px"> 
     <mat-card>
      <div fxLayout="column">
        <h2 class="mat-h2 card-main-title">Riwayat Studi Perkuliahan</h2>
        <div>Daftar Kartu Hasil Studi Mahasiswa</div> 
        <div style="margin-bottom: 20px;"></div>
        <div class="mat-h3" style="margin-top:20px;margin-bottom:0px;">Sesuaikan identitas akun seperti Kartu Tanda Mahasiswa (KTM) yang anda miliki.</div> 
      </div>
    </mat-card>
    <mat-table [dataSource]="listKHS" >
      <ng-container matColumnDef="no">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let khs; let i = index;"> {{i+1}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="semester">
        <mat-header-cell *matHeaderCellDef> Semester </mat-header-cell>
        <mat-cell *matCellDef="let khs"> {{khs.semester}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="periode">
        <mat-header-cell *matHeaderCellDef> Kartu Hasil Studi </mat-header-cell>
        <mat-cell *matCellDef="let khs"> KHS {{khs.tahun_ajaran}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ip">
        <mat-header-cell *matHeaderCellDef> IP </mat-header-cell>
        <mat-cell *matCellDef="let khs"> {{khs.ip}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tanggal">
        <mat-header-cell *matHeaderCellDef> Tanggal Upload </mat-header-cell>
        <mat-cell *matCellDef="let khs"> {{khs.tanggal}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let khs"> {{khs.status}} </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="tableColumn"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tableColumn;"></mat-row>
    </mat-table>
  </div>
</div>
-->