.button-upload {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.table-card{
    padding-top: 10px;
    padding-bottom: 0;
}
.table-container {
    overflow: auto;
    margin-top: 10px;
    margin-right: -16px;
    margin-left: -16px;
    max-height: 392px;
}
table {
    width: 100%;
    min-width: 620px;
}
.button-icon-fix{
    padding-left: 7px;
    padding-right: 7px;
    min-width: 24px;
}
mat-card {
    min-height: 200px;
}
mat-chip {
    min-width: 170px;
    padding-top: 6px;
    padding-bottom: 6px;
    mat-icon {
        font-size: 22px;
        width: 22px;
        height: 22px;
        margin-right: 7px;
    }
}
.table-empty-notif {
    padding-top:15px;
    color: rgba(0, 0, 0, 0.54);
}
.card-fix {
    padding-top: 10px;
}
.mat-column-aksi {
    width: 50px;
}
.mat-column-no {
    /*flex: 0 0 35px;*/
    width: 35px;
}
.panduan {
    /*font: 300 18px/28px Roboto, "Helvetica Neue", sans-serif;
    margin-top: 25px;
    margin-bottom: 30px !important;*/
    .desc {
        padding-left: 30px;
        
        li {
            margin-bottom: 5px;
        }
        .desc-content{
            margin-bottom: 7px;
            code {
                margin-right: 5px;
            }
        }
    }
}
code {
    font-size: 14px;
    line-height: 1.5;
    padding: 0 6px;
    background-color: #cfd8dc;
    border-radius: 3px;
    font-family: 'Roboto Mono',monospace;
    display: inline-block;
}