<div class="main-layout" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
  <div fxFlex=60 fxFlex.md=60>
    <mat-card class="table-card">
      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex>
            <h2 class="mat-h2 card-main-title">Jadwal Studi Mahasiswa</h2>
            <div>Kartu Recana Studi (KRS) </div>
          </div>
          <div style="margin-right: -15px;">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>refresh</mat-icon>
                <span>Muat Ulang</span>
              </button>
            </mat-menu>
          </div>
          
        </div>
        <div class="table-container">
          <table mat-table [dataSource]="listJadwal">
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? eventToggle() : null; isChecked()"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null; isChecked()"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let krs; let i = index;"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="matakuliah">
              <th mat-header-cell *matHeaderCellDef> Matakuliah </th>
              <td mat-cell *matCellDef="let krs;"> {{krs.matakuliah}} </td>
            </ng-container>
            <ng-container matColumnDef="jadwal">
              <th mat-header-cell *matHeaderCellDef> Jadwal </th>
              <td mat-cell *matCellDef="let krs;">
                  <mat-chip-list *ngIf="krs.jam=='0-0'">
                    <mat-chip matTooltip="Klik untuk ubah jadwal" matTooltipPosition="above" (click)="openDialog(krs)"> 
                      <mat-icon>event_available</mat-icon> Fleksibel
                  </mat-chip> 
                  </mat-chip-list>
                  <mat-chip-list *ngIf="krs.jam!='0-0'">
                    <mat-chip matTooltip="Klik untuk ubah jadwal" matTooltipPosition="above" (click)="openDialog(krs)"> 
                      <mat-icon>event_note</mat-icon> {{krs.jam}} {{krs.hari}} {{krs.ruangan}}
                    </mat-chip> 
                  </mat-chip-list> 
              </td>
            </ng-container>
            <ng-container matColumnDef="aksi">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let krs">
                <button *ngIf="!isHideDelete" @showHideAnimate (click)="openDeleteConfirm(krs.id)" mat-icon-button matTooltip="Hapus Jadwal" 
                  matTooltipPosition="above">
                  <mat-icon style="color:#686363;" aria-label="Hapus Data">delete</mat-icon>
                </button>
                <!-- <button mat-raised-button color="warn" class="button-icon-fix">
                  <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                </button> -->

              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="tableColumn; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumn;"></tr>
          </table>
          <div fxLayout="row" fxLayoutAlign="center center">
            <div *ngIf="!listJadwal && !onProgress" class="mat-h3 table-empty-notif">Belum ada data</div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions style="padding-top:15px;">
        <div>
            <input type="file" [disabled]="onProgress" (change)="onFileChange($event)" style="display: none" #fileInput accept=".pdf">
            <button mat-button [matMenuTriggerFor]="krsMenu">
              <span *ngIf="fileKRS">
                KRS {{periode}}
              </span>
              <span *ngIf="!fileKRS">
                Tambahkan KRS
              </span>
              <!--Tambahkan KRS-->
            </button>
            <mat-menu #krsMenu="matMenu">
              <a mat-menu-item href="api/public/krs/{{fileKRS}}" target="_blank" [disabled]="!fileKRS">
                <mat-icon style="color:#686363;" aria-label="Lihat KRS">description</mat-icon>
                <span>Lihat KRS</span>
              </a>
              <!-- 
                <button mat-menu-item [disabled]="fileKRS">
                <mat-icon style="color:#686363;" aria-label="Lihat KRS">description</mat-icon>
                <span>Lihat KRS</span>
              </button>
              -->
              <button mat-menu-item [disabled]="onProgress" (click)="fileInput.click()">
                <mat-icon style="color:#686363;" aria-label="Upload KRS">cloud_upload</mat-icon>
                Unggah Kartu Rencana Studi
              </button>
            </mat-menu>
            <!--<button mat-button>
              <mat-icon style="color:#686363;" aria-label="Upload KRS">description</mat-icon>
              KRS Genap 2018/2019
            </button>
            <button mat-icon-button matTooltip="Hapus KRS" 
              matTooltipPosition="above" color="warn">
              <mat-icon aria-label="Hapus Data">clear</mat-icon>
            </button>-->
            <div fxFlex></div>
            <button *ngIf="isHideDelete" @showHideAnimate (click)="openDeleteConfirm(null)" mat-icon-button matTooltip="Hapus jadwal yg dipilih" 
              matTooltipPosition="above" color="warn">
              <mat-icon aria-label="Hapus Data">delete_forever</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Tambah Jadwal" (click)="openDialog(false)" 
              matTooltipPosition="above" color="primary">
              <mat-icon aria-label="Tambah Jadwal">note_add</mat-icon>
            </button>
            
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="40">
    <mat-card>
      <mat-card-content>
        <div>
          <h2 class="mat-h2 card-main-title">Petunjuk Mengunggah KRS</h2>
          <div>Harap Perhatikan Petunjuk Unggah KRS</div>
          <div class="panduan">
            <!--<div class="title" style="font: 300 18px/28px Roboto, 'Helvetica Neue', sans-serif;
            margin-top: 25px;">Panduan mengupload KRS</div>-->
            <ol class="desc">
              <li>Unduh KRS {{periode}} di SIAKAD UM</li>
              <div class="desc-content">
                <code>https://siakad.um.ac.id</code>
              </div>
              <li>Unggah KRS tersebut ke SiAsprak TE UM</li>
              <div class="desc-content">
                <code>Klik Tambahkan KRS</code>
              </div>
              <li>Sesuaikan jika jadwal tidak sesuai</li>
              <div class="desc-content" fxLayout="column">
                <span style="display: inline-flex; vertical-align: middle; margin-bottom:5px;">
                  <mat-icon style="color:#686363;" aria-label="Hapus Data">note_add</mat-icon>
                  <code style="padding-top:3px;margin-left:6px;">Tambahkan Jadwal</code>
                </span>
                <span style="display: inline-flex; vertical-align: middle;  margin-bottom:5px;">
                  <mat-icon style="color:#686363;" aria-label="Hapus Data">event_note</mat-icon>
                  <code style="padding-top:3px;margin-left:6px;">Ubah Jadwal</code>
                </span>
                <span style="display: inline-flex; vertical-align: middle; margin-bottom:5px;">
                  <mat-icon style="color:#686363;" aria-label="Hapus Data">delete</mat-icon>
                  <code style="padding-top:3px;margin-left:6px;">Hapus Jadwal</code>
                </span>  
              </div>
              <!--
              <li>File diupload berupa PDF asli dari SIAKAD UM</li>
              <li>Pastikan KRS merupakan periode {{periode}}</li>-->
            </ol>
            <span>
              Data KRS / Jadwal Studi digunakan sebagai indikator ketersediaan jadwal ketika terpilih menjadi asisten praktikum
            </span>
          </div> 
        </div>
      </mat-card-content>
      <!--<mat-card-actions>
        <div fxLayoutAlign="row">
          <input type="file" [disabled]="onProgress" (change)="onFileChange($event)" style="display: none" #fileInput accept=".pdf">
          <div fxFlex></div>
          <button mat-raised-button color="primary" [disabled]="onProgress" (click)="fileInput.click()">Upload KRS</button>
        </div>
      </mat-card-actions>-->
    </mat-card>
  </div>
</div>