<h1 mat-dialog-title fxLayout="row" fxLayout.xs="column">
  {{title}} 
  <div fxFlex.gt-xs="5"></div>
  
</h1>
<div mat-dialog-content>
  <form [formGroup]="formHasilStudi" fxLayout="column">
    <mat-form-field appearance="outline" fxFlex="47" >
      <mat-label>Periode</mat-label>
      <mat-select formControlName="clt_periode" name="clt_periode">
        <mat-option [value]="smt.semester" *ngFor="let smt of semester">{{'Semester '+smt.semester+' - ' +smt.periode + ' ' + smt.tahun}}</mat-option>
      </mat-select>
      <mat-hint>Periode Kartu Hasil Studi</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Indeks Prestasi (IP)</mat-label>
      <input matInput placeholder="Masukkan Indeks Prestasi" formControlName="clt_ip" name="clt_ip">
      <mat-hint>Contoh Format: 3.57</mat-hint>
    </mat-form-field>
    <input type="file" name="upload" formControlName="upload" (change)="onFileChange($event)" style="display: none" #fileInput accept=".png, .jpg, .jpeg">
  </form>
  <div style="margin: 10px 0;">
    <a href="api/public/{{KHS.file_url}}" target="_blank" *ngIf="action=='edit'" mat-icon-button matTooltip="Lihat file KHS Sebelumnya"
      matTooltipPosition="above">
      <mat-icon style="color:#686363;" aria-label="Lihat File KHS">insert_drive_file</mat-icon>
    </a>
    <!--<button *ngIf="acton=='edit'" mat-icon-button matTooltip="Lihat File KHS" (click)="openDialog(false)" 
      matTooltipPosition="above">
      <mat-icon aria-label="Tambah KHS">insert_drive_file</mat-icon>
    </button>
    -->
    <button  [disabled]="onProgress || isVerified" (click)="fileInput.click()" mat-button class="button-upload">
      {{uploadButtonName}}
    </button>
  </div>
  
</div>
<div mat-dialog-actions>
  <div *ngIf="action=='edit'">
    <mat-chip-list>
      <mat-chip *ngIf="KHS.status_message==1" matTooltip="Admin akan segera melakukan verifikasi KHS tersebut" matTooltipPosition="above"> <mat-icon>query_builder</mat-icon>Proses</mat-chip> 
      <mat-chip *ngIf="KHS.status_message==2" matTooltip="KHS telah diverifkasi oleh Admin" matTooltipPosition="above"> <mat-icon>check</mat-icon> Terverifikasi </mat-chip> 
      <mat-chip *ngIf="KHS.status_message==3" matTooltip="Silahkan Unggah Ulang KHS Anda !" matTooltipPosition="above"> <mat-icon>clear</mat-icon> KHS Ditolak </mat-chip> 
    </mat-chip-list>
      <!--
      <mat-chip-list *ngIf="khs.status_message==2">
        <mat-chip matTooltip="KHS telah diverifkasi oleh Admin" matTooltipPosition="above"> <mat-icon>check</mat-icon> Terverifikasi </mat-chip> 
      </mat-chip-list>
      <mat-chip-list *ngIf="khs.status_message==3">
        <mat-chip matTooltip="Admin akan segera  melakukan verifikasi KHS tersebut" matTooltipPosition="above"> <mat-icon>clear</mat-icon> KHS Ditolak </mat-chip> 
      </mat-chip-list>
      -->
  </div>
  <div fxFlex></div>
  <button mat-button (click)="onNoClick()">
    <span *ngIf="isVerified">Tutup</span>
    <span *ngIf="!isVerified">Batal</span>
  </button>
  <button mat-button (click)="onSubmit()" *ngIf="!isVerified" [disabled]="onProgress" cdkFocusInitial>Simpan</button>
</div>