mat-chip {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding-top: 6px;
    padding-bottom: 6px;
    mat-icon {
        font-size: 22px;
        width: 22px;
        height: 22px;
        margin-right: 7px;
    }
}