<div class="register-body">
  <div fxHide.xs fxHide.sm style="height: 40px"></div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card fxFlex=35 fxFlex.xs=100 fxFlex.sm=70 fxFlex.md=50 class="login-layout">
      <div *ngIf="onProgress" style="margin: 0 -24px 0px -24px !important;">
          <mat-progress-bar mode="indeterminate" color="accent"
          ></mat-progress-bar>
      </div>  
      <div class="logo">
        <img *ngIf="!step[3] && !step[0]" src="assets/img/logo-elektro-black.png" alt="LogoElektroUM-Black">
      </div>
      <mat-card-content class="login-content">
        <div class="step0" *ngIf="step[0]" fxLayoutAlign="space-around center">
          <mat-spinner strokeWidth="7" diameter="60">
          </mat-spinner>
        </div>
        <div class="step1" *ngIf="step[1]">
            <div class="card-title">
              <h2 class="mat-h2">{{cardTitle.heading}}</h2>
              <div class="subheading">
                <span>{{cardTitle.subheading}}</span>
              </div>
            </div>
          
            <form  [formGroup]="formPassword" fxLayout="column">
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Silahkan masukkan password baru" type="password" formControlName="clt_password">
                <mat-hint class="hint-fixed">Password minimal 6 karakter</mat-hint>
                <mat-error *ngIf="isFieldInvalid('clt_password')" class="hint-fixed">Password minimal terdiri 6 karakter</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Konfirmasi Password</mat-label>
                <input matInput placeholder="Silahkan masukkan password baru" type="password" formControlName="clt_password_verif">
                <mat-hint class="hint-fixed">Tulis ulang password yang telah anda buat</mat-hint>
                <mat-error *ngIf="formPassword.controls.clt_password_verif.errors?.PasswordVerify" class="hint-fixed">Konfirmasi Password tidak sesuai dengan Password</mat-error>
                <mat-error *ngIf="formPassword.controls.clt_password_verif.errors?.required" class="hint-fixed">Konfirmasi Password wajib diisi</mat-error>
              </mat-form-field>
              
            </form>
        </div>
        <div class="stepLock" *ngIf="step[2]">
          <div class="description">
              <h3 class="mat-h3">Selamat, akun telah berhasil diperbarui dan siap digunakan. Saat ini anda dapat login menggunakan password baru anda.</h3>
          </div>
        </div>
        <div class="step3" *ngIf="step[3]">
          <div class="card-title" style="text-align: center; padding: 0 0 20px;">
            <h2 class="mat-h2">Tidak Dapat Melakukan Verifikasi</h2>
            <div class="subheading">
              <span>Kode telah kedaluarsa atau tidak sesuai</span>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayoutAlign="row">
          <button mat-button (click)="skipPassword()" [disabled]="onProgress" *ngIf="step[1] && isLockMode">
            Lewati dan Buka Kunci
          </button>
          <button mat-button (click)="doLogout()" [disabled]="onProgress" *ngIf="step[2]">
              Halaman Login
          </button>
          <div fxFlex></div>
          <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="onProgress" *ngIf="step[1]">
            Kirim Password
          </button>
          <a mat-raised-button color="primary" *ngIf="step[2]" [routerLink]="['./../../../../login']">
            Menuju Dashboard
          </a>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
