/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

$siasprak-primary : mat-palette($mat-blue,800);
$siasprak-accent : mat-palette($mat-amber,700,A100,A400);
$siasprak-warn : mat-palette($mat-red);
$siasprak-theme : mat-light-theme($siasprak-primary,$siasprak-accent,$siasprak-warn);

@include angular-material-theme($siasprak-theme);
.mat-card-content {
  font-size: 16px;
}
.text-center {
  text-align: center;
}
/***/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('fonts/roboto/roboto-v18-latin-300.woff2') format('woff2'),
       url('fonts/roboto/roboto-v18-latin-300.woff') format('woff'), 
       url('fonts/roboto/roboto-v18-latin-300.ttf') format('truetype'),
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/roboto/roboto-v18-latin-regular.woff2') format('woff2'),
       url('fonts/roboto/roboto-v18-latin-regular.woff') format('woff'), 
       url('fonts/roboto/roboto-v18-latin-regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('fonts/roboto/roboto-v18-latin-500.woff2') format('woff2'),
       url('fonts/roboto/roboto-v18-latin-500.woff') format('woff'), 
       url('fonts/roboto/roboto-v18-latin-500.ttf') format('truetype'),
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('fonts/mdi/MaterialIcons-Regular.woff2') format('woff2'),
       url('fonts/mdi/MaterialIcons-Regular.woff') format('woff'),
       url('fonts/mdi/MaterialIcons-Regular.ttf') format('truetype');
}
/** */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/*.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;  
    font-feature-settings: 'liga';
  }
  .icons-fixed {
    font-size: 22px !important;
    color : rgb(117, 117, 117) ;
  }
  .icons-fixed-default{
    font-size: 22px !important;
    color : currentColor ;
  }
  .hint-fixed {
      font-size: 12px;
  }
  .no-margin-top-bottom {
    margin-top : 0px;
    margin-bottom : 0px;
  }
  [hidden] {
    display: none !important;
  }
  */