<div class="main-layout" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
  <div fxFlex=70 fxFlex.md=60>
    <mat-card class="table-card">
      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex>
            <h2 class="mat-h2 card-main-title">Pengalaman Asistensi</h2>
            <div>Pengalaman Menjadi Asisten Praktikum</div>
          </div>
          <div style="margin-right: -15px;">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>refresh</mat-icon>
                <span>Muat Ulang</span>
              </button>
            </mat-menu>
          </div>
        </div>
        
        <div class="table-container">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let mk; let i = index;"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="matakuliah">
                <th mat-header-cell *matHeaderCellDef> Mata Kuliah </th>
                <td mat-cell *matCellDef="let mk">{{mk.matakuliah}} </td>
              </ng-container>
            <ng-container matColumnDef="periode">
              <th mat-header-cell *matHeaderCellDef> Periode </th>
              <td mat-cell *matCellDef="let mk"> {{mk.periode}} </td>
            </ng-container>
            <ng-container matColumnDef="tanggal">
              <th mat-header-cell *matHeaderCellDef> Tanggal </th>
              <td mat-cell *matCellDef="let mk"> {{mk.tanggal | date:'mediumDate'}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let mk"> 
                <mat-chip-list>
                  <mat-chip disabled matTooltip="Admin akan segera  melakukan verifikasi mk tersebut" matTooltipPosition="above"> <mat-icon>query_builder</mat-icon> Belum Terverifikasi </mat-chip> 
                </mat-chip-list>
              </td>
            </ng-container>
            <ng-container matColumnDef="aksi">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let mk">
                  <a href="api/public/{{mk.file_url}}" target="_blank" mat-icon-button matTooltip="Lihat file Sertifkat Asistensi {{mk.periode}}"
                    matTooltipPosition="above">
                    <mat-icon style="color:#686363;" aria-label="Lihat File KHS">photo</mat-icon>
                  </a>
                  <a mat-icon-button matTooltip="Hapus Riwayat Asistensi"
                    matTooltipPosition="above" [disabled]="onProgress" (click)="deleteRiwayat(mk.id)">
                    <mat-icon style="color:#686363;" aria-label="Hapus">delete</mat-icon>
                  </a>
                  <!-- <button mat-raised-button color="warn" class="button-icon-fix">
                    <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                  </button> -->
                </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="tableColumn; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumn;"></tr>
          </table>
          <div fxLayout="row" fxLayoutAlign="center center">
            <div *ngIf="!(dataSource.data.length > 0) && !onProgress" class="mat-h3 table-empty-notif">Belum ada data</div>
          </div>
        </div>
      </mat-card-content>
      <!-- <mat-card-actions style="padding-top:15px;">
        <div fxLayoutAlign="row">
          <div fxFlex></div>
          <button mat-raised-button color="primary">Upload KHS</button>
        </div>
      </mat-card-actions> -->
    </mat-card>
    
  </div>
  <div fxFlex=30 fxFlex.md=40>
    <mat-card class="card-fix">
      <div fxLayout="column">
        <h2 class="mat-h2 card-main-title">Upload Sertifkat</h2>
        <div>Sertifkat Berupa Hasil Scan atau Kamera</div> 
        <div style="margin-bottom: 20px;"></div>
        <div class="mat-h3" style="margin-bottom:20px;margin-top:0px;">Format berupa .jpeg/.png dengan ukuran kurang dari 2MB dan gambar harus jelas karena akan ditinjau ulang.</div> 
        <form [formGroup]="formAsistensi" fxLayout="column">
          <mat-form-field appearance="outline" style="margin-bottom: 10px;">
            <mat-label>Nama Matakuliah</mat-label>
            <input matInput placeholder="Masukkan Nama Matakuliah Praktikum" formControlName="clt_mk" name="clt_mk" oninput="this.value = this.value.toUpperCase()">
            <mat-icon matSuffix>credit_card</mat-icon>
            <mat-hint>Nama Mata Kuliah Sesuai Sertifikat </mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Pilih Periode</mat-label>
            <mat-select formControlName="clt_periode">
              <mat-option *ngFor="let smt of periodeAsisten" [value]="smt.periode">
                Semester {{smt.periode}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <input type="file" name="upload" formControlName="upload" (change)="onFileChange($event)" style="display: none" #fileInput accept=".png, .jpg, .jpeg">
        </form>
      </div>
      <button  [disabled]="onProgress" (click)="fileInput.click()" mat-button class="button-upload">
        <mat-icon *ngIf="uploadButtonName=='Upload KHS'">add</mat-icon>
        {{uploadButtonName}}</button>
      <mat-card-actions>
        <div fxLayoutAlign="row">
          <div fxFlex></div>
          <button (click)="onSubmit()" mat-raised-button color="primary" [disabled]="onProgress">Kirim</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>