.button-upload {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.table-card{
    padding-top: 10px;
}
.table-container {
    overflow: auto;
    margin-top: 10px;
    margin-right: -16px;
    margin-left: -16px;
    margin-bottom: -24px !important;
    max-height: 392px;
}
table {
    width: 100%;
    min-width: 700px;
}
.button-icon-fix{
    padding-left: 7px;
    padding-right: 7px;
    min-width: 24px;
}
mat-card {
    min-height: 200px;
}
mat-chip {
    padding-top: 6px;
    padding-bottom: 6px;
    mat-icon {
        font-size: 22px;
        width: 22px;
        height: 22px;
        margin-right: 7px;
    }
}
.table-empty-notif {
    padding-top:15px;
    color: rgba(0, 0, 0, 0.54);
}
.card-fix {
    padding-top: 10px;
}
.mat-column-aksi {
    width: 100px;
}
.mat-column-no {
    /*flex: 0 0 35px;*/
    width: 35px;
}