<mat-sidenav-container class="example-container" >
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches" style="min-width: 256px;">
    <!-- <section class="mat-typography" style="padding-top:75px;">
      <h2 style="margin-bottom: 0px;">Muchamad Mirza</h2>
      <span class="mat-body-1">mirzam233@gmail.com</span>
    </section>
    -->
    <section class="mat-typography" style="padding: 16px 16px 0 16px;">
      <h2 style="margin-bottom: 0px;">SiAsprak</h2>
    </section>
    <div fxLayout="column" class="nav-list-custom" style="padding-top:20px;">
      <!-- <button mat-button fxFlex [routerLink]="['./dashboard']" routerLinkActive="link-active">
          <mat-icon>home</mat-icon>
          Dashboard
      </button> -->
      <button mat-button [routerLink]="['./pendaftaran-asisten']" routerLinkActive="link-active">
        <mat-icon>receipt</mat-icon>
        Pendaftaran Asisten
      </button>
      <button mat-button [routerLink]="['/login']" routerLinkActive="link-active">
        <mat-icon>supervisor_account</mat-icon>
        Kelas Asistensi
      </button>
      <mat-divider style="margin-top: 8px;"></mat-divider>
      <span class="subheader mat-body-2" style="padding-top: 16px;padding-left: 8px;padding-bottom:8px;color:#828282;">Pendaftaran Asisten</span>
      <button mat-button [routerLink]="['./verifikasi-ktm']" routerLinkActive="link-active">
        <mat-icon>credit_card</mat-icon>
        Verifikasi KTM
      </button>
      <button mat-button [routerLink]="['./jadwal-kuliah']" routerLinkActive="link-active">
        <mat-icon>event</mat-icon>
        Jadwal Studi (KRS)
      </button>
      <button mat-button [routerLink]="['./riwayat-studi']" routerLinkActive="link-active">
        <mat-icon>assessment</mat-icon>
        Riwayat Studi (KHS)
      </button>
      <button mat-button [routerLink]="['./pengalaman-asistensi']" routerLinkActive="link-active">
        <mat-icon>record_voice_over</mat-icon>
        Pengalaman Asistensi
      </button>
      <button mat-button [routerLink]="['./pengalaman-organisasi']" routerLinkActive="link-active">
        <mat-icon>assignment_ind</mat-icon>
        Pengalaman Organisasi
      </button>
      <button mat-button [routerLink]="['./pendaftaran-matakuliah']" routerLinkActive="link-active">
        <mat-icon>how_to_vote</mat-icon>
        Pendaftaran Matakuliah
      </button>
    </div>
    
    <!-- <div class="nav-list-custom"  fxLayout="column" style="padding-top:20px;"> -->
      <!-- <button mat-button fxFlex [routerLink]="['./dashboard']" routerLinkActive="link-active">
          <mat-icon>home</mat-icon>
          Dashboard
      </button> -->
      <!--
      <button mat-button fxFlex [routerLink]="['./pendaftaran-asisten']" routerLinkActive="link-active">
        <mat-icon>receipt</mat-icon>
        Pendaftaran Asisten
      </button>
      <button mat-button fxFlex [routerLink]="['/login']" routerLinkActive="link-active">
        <mat-icon>supervisor_account</mat-icon>
        Kelas Asistensi
      </button>
      <mat-divider style="margin-top: 8px;"></mat-divider>
      <span class="subheader mat-body-2" style="padding-top: 16px;padding-left: 8px;padding-bottom:8px;color:#828282;">Pendaftaran Asisten</span>
      <button mat-button fxFlex [routerLink]="['./verifikasi-ktm']" routerLinkActive="link-active">
        <mat-icon>credit_card</mat-icon>
        Verifikasi KTM
      </button>
      <button mat-button fxFlex [routerLink]="['./jadwal-kuliah']" routerLinkActive="link-active">
        <mat-icon>event</mat-icon>
        Jadwal Studi (KRS)
      </button>
      <button mat-button fxFlex [routerLink]="['./riwayat-studi']" routerLinkActive="link-active">
        <mat-icon>assessment</mat-icon>
        Riwayat Studi (KHS)
      </button>
      <button mat-button fxFlex [routerLink]="['./pengalaman-asistensi']" routerLinkActive="link-active">
        <mat-icon>record_voice_over</mat-icon>
        Pengalaman Asistensi
      </button>
      <button mat-button fxFlex [routerLink]="['./pengalaman-organisasi']" routerLinkActive="link-active">
        <mat-icon>assignment_ind</mat-icon>
        Pengalaman Organisasi
      </button>
      <button mat-button fxFlex [routerLink]="['./aplikasi-matakuliah']" routerLinkActive="link-active">
        <mat-icon>how_to_vote</mat-icon>
        Aplikasi Matakuliah
      </button>
      <mat-divider style="margin-top: 8px;"></mat-divider> -->
      <!-- <button mat-button fxFlex [routerLink]="['/login']" routerLinkActive="link-active">
        <mat-icon>face</mat-icon>
        Pengaturan Akun
      </button> -->
      <!-- 
      <button mat-button fxFlex (click)="logout()" routerLinkActive="link-active">
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
    </div>-->
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" [ngClass]="{'on-progress-fix': onProgress}">
      <mat-toolbar-row>
        <button mat-icon-button (click)="snav.toggle()" fxHide.gt-sm="true"><mat-icon>menu</mat-icon></button>
        <span>{{mainTitle}}</span>
        <span fxFlex></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item disabled>
            <mat-icon>face</mat-icon>
            <span>Pengaturan Akun</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <div *ngIf="onProgress">
        <mat-progress-bar [ngClass]="{'progres-bottom-fix': onProgress}" mode="indeterminate" color="accent"
        ></mat-progress-bar>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
