.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
.nav-list-custom{
    padding: 0 12px;
    button {
        color: #686363;
        text-align: left;
        padding-left: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
        mat-icon {
            margin-right: 10px;
        };
    }
    .link-active {
        color: #1565c0 !important;
        background-color: #f3f3f3;
    }
}
.on-progress-fix{
    margin-bottom: -5px;
}
.progres-bottom-fix {
    margin-bottom: 0px;
}